# Sniperkit-Bot
# - Status: analyzed

__pycache__
_state
repology.conf
repologyapp/static/*.gz
rules.d
testdata/*.packages

.git
.git/**
.github/
.github/**
.gitignore
.dockerignore
*.yml
*.md

Dockerfile
docker-compose*
crane*

data
data/
data/*
data/**

build
build/
build/*
build/**

_logs
_logs/
_logs/*
_logs/**

_builds
_builds/
_builds/*
_builds/**

_install
_install/
_install/*
_install/**

CMakeCache.txt
CMakeFiles
CMakeScripts

Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.env
.idea

.docker-sync

**/.DS_Store

.git
.git/**

.hooks/
.hooks/**

.github/
.github/**

.gitignore
.dockerignore

*.yml
*.md
Dockerfile
Gopkg.*
data
data/**

.DS_Store
.idea
*.log
*.swp

*.zip
*.tar.gz

Dockerfile*
docker-*

debug
dist
node_modules
npm-debug.log
!vendor/vendor.json

debug
dist
node_modules
npm-debug.log
!vendor/vendor.json

vendor
vendor/
vendor/*
vendor/**

/vendor
/vendor/
/vendor/*
/vendor/**

/node_modules/
/bower_components/

shared/logs
shared/logs/
shared/logs/*
shared/logs/**

shared/docker
shared/docker/
shared/docker/*
shared/docker/**

shared/docker/snk
shared/docker/snk/
shared/docker/snk/*
shared/docker/snk/**

shared/scripts
shared/scripts/
shared/scripts/*
shared/scripts/**

shared/compose
shared/compose/
shared/compose/*
shared/compose/**

shared/data
shared/data/
shared/data/*
shared/data/**

shared/logs
shared/logs/
shared/logs/*
shared/logs/**

shared/storage
shared/storage/
shared/storage/*
shared/storage/**

# shared/docker/hbase
# shared/docker/hbase
shared/docker/snk*

*.db
*.bolt*
*.bbolt*



_*


.nuxt


# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# default download directory 
_dl/

# cache directory
*_cache/
*_script/
*_db/

# temporary directory and file
tmp/
*.tmp

./goes