###########################################################
###################### General Setup ######################
###########################################################

### Workspace #############################################

WORKSPACE_TIMEZONE=UTC

### Locales ###############################################
# LANG=en.US
# LC_PAPER=""
# LC_NAME=""
# LC_ADDRESS=""
# LC_TELEPHONE=""
# LC_MEASUREMENT=""
# LC_IDENTIFICATION=""

### Docker Compose ########################################
COMPOSE_HTTP_TIMEOUT=200
# docker.for.mac.localhost

### Paths #################################################

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./shared/data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use snk to have seperate containers per project.
COMPOSE_PROJECT_NAME=snk

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### Windows Path ##########################################

# A fix for Windows users, to ensure the application path works
COMPOSE_CONVERT_WINDOWS_PATHS=1

### Environment ###########################################

# If you need to change the sources (i.e. to China), set CHANGE_SOURCE to true
CHANGE_SOURCE=false

### Docker Sync ###########################################

# If you are using Docker Sync. For `osx` use 'native_osx', for `windows` use 'unison', for `linux` docker-sync is not required
DOCKER_SYNC_STRATEGY=native_osx

###########################################################
################ Containers Customization #################
###########################################################

### CONSOLE ############################################
CONSOLE_BASE_IMAGE_NAME=golang
CONSOLE_BASE_IMAGE_TAG=1.11beta3-alpine3.8

### ALPINE ############################################
# ALPINE_VERSION=3.7

### NGINX #################################################
# NGINX_VERSION=
NGINX_HOST_HTTP_PORT=8080
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./shared/logs/nginx/
NGINX_SITES_PATH=./shared/nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php-fpm
NGINX_PHP_UPSTREAM_PORT=9000

### MYSQL #################################################
# MYSQL_VERSION=
MYSQL_VERSION=latest
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./shared/docker/mysql/docker-entrypoint-initdb.d

### REDIS #################################################
REDIS_VERSION=4
REDIS_PORT=6379

### PERCONA ###############################################
# PERCONA_VERSION=
PERCONA_DATABASE=homestead
PERCONA_USER=homestead
PERCONA_PASSWORD=secret
PERCONA_PORT=3306
PERCONA_ROOT_PASSWORD=root
PERCONA_ENTRYPOINT_INITDB=./shared/docker/percona/docker-entrypoint-initdb.d

### MSSQL #################################################
# MSSQL_VERSION=
MSSQL_DATABASE=homestead
MSSQL_PASSWORD=yourStrong(!)Password
MSSQL_PORT=1433

### MARIADB ###############################################
# MARIADB_VERSION=
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./shared/docker/mariadb/docker-entrypoint-initdb.d

### POSTGRES ##############################################
POSTGRES_VERSION=10.3
POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_ENTRYPOINT_INITDB=./shared/docker/postgres/docker-entrypoint-initdb.d

### ELASTICSEARCH #########################################
ELASTICSEARCH_VERSION=6.2.3
ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300
ELASTICSEARCH_PASSWORD=password124
ELASTICSEARCH_MEM_LIMIT=1g
ELASTICSEARCH_JVM_HEAP=512m
ELASTICSEARCH_DEFAULT_INDEX_PATTERN=metricbeat-*

### MEMCACHED #############################################
# MEMCACHED_VERSION=
MEMCACHED_HOST_PORT=11211

### AEROSPIKE #############################################
# AEROSPIKE_VERSION=
AEROSPIKE_SERVICE_PORT=3000
AEROSPIKE_FABRIC_PORT=3001
AEROSPIKE_HEARTBEAT_PORT=3002
AEROSPIKE_INFO_PORT=3003

## Temp solution, this should be in the dockerfile
# for all versions "https://github.com/aerospike/aerospike-client-php/archive/master.tar.gz"
# for php 7.2 (using this branch until the support for 7.2 on master) "https://github.com/aerospike/aerospike-client-php/archive/7.2.0-release-candidate.tar.gz"
AEROSPIKE_PHP_REPOSITORY=https://github.com/aerospike/aerospike-client-php/archive/7.2.0-release-candidate.tar.gz

### RETHINKDB #############################################
# RETHINKDB_VERSION=
RETHINKDB_PORT=8090

### MONGODB ###############################################
# MONGODB_VERSION=
MONGODB_PORT=27017

### SOLR ##################################################
SOLR_VERSION=5.5-alpine
SOLR_PORT=8983
SOLR_DATAIMPORTHANDLER_MYSQL=true
