# Sniperkit-Bot
# - Status: analyzed

__pycache__
_state
repology.conf
repologyapp/static/*.gz
rules.d
testdata/*.packages

.env

# vendor/
.env
.idea
/logs
/data
.env
/.project
.docker-sync
/jenkins/jenkins_home
.DS_Store
.idea
*.log
*.swp

*_darwin_amd64
*_darwin_amd64_pro
*_linux_amd64
*_linux_386
*_windows_amd64.exe
*_windows_amd64_pro.exe

vendor
vendor/*
vendor/**

/vendor/*

debug
dist
node_modules
npm-debug.log
!vendor/vendor.json

# vendor
# vendor/
# vendor/*
# vendor/**

shared/data
shared/data/
shared/data/*
shared/data/**

shared/storage
shared/storage/
shared/storage/*
shared/storage/**

*.db
*.bolt*
*.bbolt*

config.yaml
config.json
config.toml
config.ini
config.xml

_*

.env
.secret
snk.golang.vuejs-multi-backend
.nuxt

bin
bin/
bin/*
bin/**

dist
dist/
dist/*
dist/**

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# default download directory 
_dl/

# cache directory
*_cache/
*_script/
*_db/

# temporary directory and file
tmp/
*.tmp

# config toml
config.toml

./goes